
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @ViewBag.Message
</p>

<div id="HomePageButton">
    <a href=@Url.Action("Index", "Home")
       class="btn btn-primary btn-lg">
        Return to Homepage &raquo;
    </a>
</div>

