
@{
    ViewBag.Title = "DonatingForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="center-block; text-center">@ViewBag.Title</h1>

@using (Html.BeginForm("ReceiveForm", "Form", new { type = "Donate" }, FormMethod.Post, null))
{
    <div class="form-group row">
        <label for="fullName" class="col-4 col-form-label">Full Name</label>
        <div class="col-8">
            <input id="fullName" name="fullName" placeholder="Enter Full Name" type="text" class="form-control" required="required">
        </div>
        <label for="birthdate" class="col-4 col-form-label">Birthdate</label>
        <div class="col-8">
            <input id="birthdate" name="birthdate" placeholder="Enter Birthdate" type="text" class="form-control" required="required">
        </div>
    </div>

    <div class="form-group row">
        <label for="profession" class="col-4 col-form-label">Profession</label>
        <div class="col-8">
            <input id="profession" name="profession" placeholder="Enter your Profession" type="text" class="form-control" required="required">
        </div>
        <label for="nif" class="col-4 col-form-label">NIF</label>
        <div class="col-8">
            <input id="nif" name="nif" placeholder="Enter your NIF" type="text" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label for="email" class="col-4 col-form-label">Email</label>
        <div class="col-8">
            <input id="email" name="email" placeholder="Enter your Email" type="text" class="form-control" required="required">
        </div>
        <label for="phone" class="col-4 col-form-label">Phone</label>
        <div class="col-8">
            <input id="phone" name="phone" placeholder="Enter your Contact" type="text" class="form-control" required="required">
        </div>
    </div>

    <div class="form-group row">
        <label for="address" class="col-4 col-form-label">Address</label>
        <div class="col-8">
            <input id="address" name="address" placeholder="Enter your Address" type="text" class="form-control" required="required">
        </div>
        <label for="postalCode" class="col-4 col-form-label">Postal Code</label>
        <div class="col-8">
            <input id="postalCode" name="postalCode" placeholder="XXXX-YYY" type="text" class="form-control" required="required">
        </div>
        <label for="city" class="col-4 col-form-label">City</label>
        <div class="col-8">
            <input id="city" name="city" placeholder="Enter your City" type="text" class="form-control" required="required">
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-4 col-8">
            <button name="submit" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
}