
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Style/Forms.css">

<h1 class="center-block; text-center">@ViewBag.Title</h1>

@using (Html.BeginForm("ReceiveForm", "Form", new { type = "Partner" }, FormMethod.Post, null))
{
    <div class="block" style="float:right; width: 40%">
        <label for="nif">NIF</label>
        <input id="nif" name="nif" placeholder="Enter your NIF" type="number" required="required">
    </div>

    <div class="block" style="float:left; width: 30%">
        <label for="fullName">Full name</label>
        <input id="fullName" name="fullName" placeholder="Enter your full name" type="text" required="required">
    </div>

    <div class="block">
        <label for="birthdate">Birthdate</label>
        <input id="birthdate" name="birthdate" placeholder="Enter your birthdate" type="date" required="required">
    </div>

    <div class="block">
        <label for="profession">Profession</label>
        <input id="profession" name="profession" placeholder="Enter your profession" type="text" required="required">
    </div>

    <div class="block">
        <label for="address">Address</label>
        <input id="address" name="address" placeholder="Enter your address" type="text" required="required">
    </div>

    <div class="block" style="float:left">
        <label for="postalCode">Postal Code</label>
        <input id="postalCode" name="postalCode" placeholder="XXXX-YYY" type="text" required="required">
    </div>

    <div class="block">
        <label for="city">City</label>
        <input id="city" name="city" placeholder="Enter your city" type="text" required="required">
    </div>

    <div class="block" style="float:left">
        <label for="email">Email</label>
        <input id="email" name="email" placeholder="Enter your email" type="email" required="required">
    </div>

    <div class="block">
        <label for="phone">Phone</label>
        <input id="phone" name="phone" placeholder="Enter your contact" type="tel" required="required">
    </div>

    <div class="block">
        <label for="anualQuota">Annual Quota</label>
        <input class="payment" id="anualQuota" name="payment" placeholder="Enter your anual quota" type="number" required="required" min="28">
    </div>

    <div class="block">
        <label for="donation">Additional Donation</label>
        <input class="payment" id="donation" name="payment" placeholder="Enter your donation (not required)" type="number">
    </div>

    <div class="block" style="margin:0 auto">


        <p style="text-align:center">Please select the way you prefer to pay:</p>

        <!-- Para o radio type funcionar corretamente, o campo name tem que ser igual em todas as opções!-->

        <div id="radioGroup" style="margin:auto ; text-align:center">

            <div class="wrap">
                <label for="bankTransfer">Bank Transfer</label>
                <input type="radio" name="paymentType" id="bankTransfer" value="bank" />
            </div>

            <div class="wrap">
                <label for="MBWAY">MB Way</label>
                <input type="radio" name="paymentType" id="MBWAY" value="mbWay" />
            </div>

            <div class="wrap">
                <label for="PayPal">Paypal</label>
                <input type="radio" name="paymentType" id="PayPal" value="paypal" />
            </div>

        </div>

    </div>

    <div class="form-group row">
        <center>
            <button name="submit" type="submit" class="btn btn-primary">Submit</button>
        </center>
    </div>

}