
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form>

    <h1 class="center-block; text-center">@ViewBag.Title</h1>

    @using (Html.BeginForm("ReceiveForm", "Form", new { type = "Volunteer" }, FormMethod.Post, null))
    {

        <style>

            form {
                background-color: orange;
            }

            div {
            }

            label {
                display: inline-block;
                width: 150px;
                text-align: right;
            }

            #radioGroup .wrap {
                display: inline-block;
            }

            #radioGroup label {
                display: block;
                text-align: center;
                margin: 0 0.2em;
            }

            #radioGroup input[type="radio"] {
                display: block;
                margin: 0.5em auto;
            }
        </style>

        <!-- COMEÇA BASE-->

        <div class="block" style="float:right; width: 40%">
            <label for="nif">NIF</label>
            <input id="nif" name="nif" placeholder="Enter your NIF" type="number" required="required">
        </div>

        <div class="block" style="float:left; width: 30%">
            <label for="fullName">Full name</label>
            <input id="fullName" name="fullName" placeholder="Enter your full name" type="text" required="required">
        </div>

        <div class="block">
            <label for="birthdate">Birthdate</label>
            <input id="birthdate" name="birthdate" placeholder="Enter your birthdate" type="date" required="required">
        </div>

        <div class="block">
            <label for="profession">Profession</label>
            <input id="profession" name="profession" placeholder="Enter your profession" type="text" required="required">
        </div>

        <div class="block">
            <label for="address">Address</label>
            <input id="address" name="address" placeholder="Enter your address" type="text" required="required">
        </div>

        <div class="block" style="float:left">
            <label for="postalCode">Postal Code</label>
            <input id="postalCode" name="postalCode" placeholder="XXXX-YYY" type="text" required="required">
        </div>

        <div class="block">
            <label for="city">City</label>
            <input id="city" name="city" placeholder="Enter your city" type="text" required="required">
        </div>

        <div class="block" style="float:left">
            <label for="email">Email</label>
            <input id="email" name="email" placeholder="Enter your email" type="email" required="required">
        </div>

        <div class="block">
            <label for="phone">Phone</label>
            <input id="phone" name="phone" placeholder="Enter your contact" type="tel" required="required">
        </div>

        <!-- ACABA BASE-->

        <div class="block">
            <label for="partnerNumber">Partner Number</label>
            <input id="partnerNumber" name="partnerNumber" placeholder="Enter your partner number" type="number">
        </div>

        <div class="block" style="margin:0 auto">


            <p style="text-align:center">Please select your means of transport to the shelter:</p>

            <!-- Para o radio type funcionar corretamente, o campo name tem que ser igual em todas as opções!-->

            <div id="radioGroup" style="margin:auto ; text-align:center">

                <div class="wrap">
                    <label for="ownVehicle">Own vehicle</label>
                    <input type="radio" name="transportationType" id="ownVehicle" value="OwnVehicle" />
                </div>

                <div class="wrap">
                    <label for="lift">Lift</label>
                    <input type="radio" name="transportationType" id="lift" value="Lift" />
                </div>

                <div class="wrap">
                    <label for="publicTransportation">Public Transportation</label>
                    <input type="radio" name="transportationType" id="publicTransportation" value="PublicTransportation" />
                </div>

                <div class="wrap">
                    <label for="afoot">Afoot</label>
                    <input type="radio" name="transportationType" id="afoot" value="Afoot" />

                </div>
            </div>

        </div>

        <div class="block" style="margin:0 auto">


            <p style="text-align:center">Please select the activities you want to collaborate in:</p>

            <div id="radioGroup" style="margin:auto ; text-align:center">

                <div class="wrap">
                    <label for="supportKennel">Support in the kennel</label>
                    <input type="checkbox" id="supportKennel" name="volunteerActivities" value="kennel">
                </div>

                <div class="wrap">
                    <label for="supportSite">Support in our site's content management</label>
                    <input type="checkbox" id="supportSite" name="volunteerActivities" value="site">
                </div>

                <div class="wrap">
                    <label for="THF">Temporary Host Family</label>
                    <input type="checkbox" id="THF" name="volunteerActivities" value="family">
                </div>

                <div class="wrap">
                    <label for="cleaningBoxes">Cleaning and maintenance of the dog's boxes'</label>
                    <input type="checkbox" id="cleaningBoxes" name="volunteerActivities" value="boxes">
                </div>

                <div class="wrap">
                    <label for="attendCampaigns">Attend to campaigns</label>
                    <input type="checkbox" id="attendCampaigns" name="volunteerActivities" value="campaigns">
                </div>

                <div class="wrap">
                    <label for="transportAnimal">Animal Transportation</label>
                    <input type="checkbox" id="transportAnimal" name="volunteerActivities" value="transport">
                </div>

                <div class="wrap">
                    <label for="professionalArea">Work in your professional area</label>
                    <input type="checkbox" id="professionalArea" name="volunteerActivities" value="professional">
                </div>

            </div>

        </div>

        <div class="block" style="margin:0 auto">

            <p style="text-align:center">Select which days you pretend to work at our shelter:</p>

            <div id="radioGroup" style="margin:auto ; text-align:center">

                <div class="wrap">
                    <label for="monday">Mondays</label>
                    <input type="checkbox" id="monday" name="volunteerDays" value="2">
                </div>

                <div class="wrap">
                    <label for="tuesday">Tuesdays</label>
                    <input type="checkbox" id="tuesday" name="volunteerDays" value="3">
                </div>

                <div class="wrap">
                    <label for="wednesday">Wednesdays</label>
                    <input type="checkbox" id="wednesday" name="volunteerDays" value="4">
                </div>

                <div class="wrap">
                    <label for="thursday">Thursdays</label>
                    <input type="checkbox" id="thursday" name="volunteerDays" value="5">
                </div>

                <div class="wrap">
                    <label for="friday">Fridays</label>
                    <input type="checkbox" id="friday" name="volunteerDays" value="6">
                </div>

                <div class="wrap">
                    <label for="saturday">Saturdays</label>
                    <input type="checkbox" id="saturday" name="volunteerDays" value="7">
                </div>

                <div class="wrap">
                    <label for="sunday">Sundays</label>
                    <input type="checkbox" id="sunday" name="volunteerDays" value="1">
                </div>

            </div>

            <p style="text-align:center"> Our volunteer work schedule at the shelter ranges from 14h to 17h, occasionaly modified by exceptional events.</p>

        </div>

        <div class="form-group row">
            <div class="offset-4 col-8" style="margin-left:535px">
                <button name="submit" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    }
</form>