
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="h1">ContactUs</p>

<style>

    #m {
        height: 403px;
        width: 100%;
    }

</style>

<p> You can contact us through:</p>
<p> &emsp; Mail: uniaozoofila@gmail.com</p>
<p> &emsp; Telephone: +351 929 038 656</p>

<p> You can also find us in:</p>
<p> &emsp; <a href="https://www.instagram.com/uniao.zoofila/">Instagram</a></p>
<p> &emsp; <a href="https://twitter.com/uniaozoofila">Twitter</a></p>
<p> &emsp; <a href="https://www.facebook.com/uniaozoofila">Facebook</a></p>

<p>
    And, of course, if you are willing to pay us a visit, our shelter is at  Rua Padre Carlos dos Santos, Alto das Furnas 1500 - 901, Lisboa.
</p>

<div id="m"></div>
<script>
    function initMap() {
        var loc = { lat: 38.741140, lng: -9.173680 };
        var m1 = new google.maps.Map(document.getElementById('m'), { zoom: 15, center: loc });
        var mar = new google.maps.Marker({ position: loc, map: m1 });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCn4y5mskINGpExWjup583ICkfDYTlZl88&callback=initMap">
</script>