@{
    ViewBag.Title = "HelpUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    div {
        text-align:justify;
    }
</style>

<div class="container-fluid">
    <!-- Volunteering Form -->
    <div class="modal-body row" style="display: flex;">
        <div class="col-md-6" style="background-image: url('../images/volunteer.jpg');
                                     background-size: cover;
                                     background-repeat: no-repeat">
        </div>
        <div class="col-md-6">
            <p>
                <div class="text-center">
                    <p class="h1">Volunteering</p>
                </div>
                <br />
                Volunteering is one of the main necessities of our shelter. Cleaning our companion's
                boxes, brushing them, pamper them, organizing their rations,... These are all part
                of a volunteer's job so, be prepared!
                <br />
                <br />
                <div class="text-center">
                    <a href=@Url.Action("VolunteeringForm", "Form")
                       class="btn btn-primary btn-lg">
                        Become a Volunteer &raquo;
                    </a>
                    <br /> <br />
                    <hr />
                </div>
            </p>
        </div>
        <br />
        <hr />
    </div>

    <!-- Become a Partner Form -->
    <div class="modal-body row" style="display: flex;">
        <div class="col-md-6" style="background-image: url('../images/partner.jpg');
                                     background-size: cover;
                                     background-repeat: no-repeat">
        </div>
        <div class="col-md-6">
            <p>
                <div class="text-center">
                    <p class="h1">Become a Partner</p>
                </div>
                <br />
                Our shelter has only survived due to the help of everyone that trusts our work!
                Anyone can become a partner by paying the annual amount of 28 € after filling form.
                <br />
                <br />
                <div class="text-center">
                    <a href=@Url.Action("PartnerForm", "Form")
                       class="btn btn-primary btn-lg">
                        Become a Partner &raquo;
                    </a>
                    <br /> <br />
                    <hr />
                </div>
            </p>
        </div>
        <br />
        <hr />
    </div>

    <!-- Donating Form -->
    <div class="modal-body row" style="display: flex;">
        <div class="col-md-6" style="background-image: url('../images/donate.jpg');
                                     background-size: cover;
                                     background-repeat: no-repeat">
        </div>
        <div class="col-md-6">
            <p>
                <div class="text-center">
                    <p class="h1">Donating</p>
                </div>
                <br />
                If you also sympathize with the animal cause and want to contribute to it, but you are unable to become a partner, then a donation
                is already of great help!
                <br />
                <br />
                <div class="text-center">
                    <a href=@Url.Action("DonatingForm", "Form")
                       class="btn btn-primary btn-lg">
                        Donate &raquo;
                    </a>
                    <br /> <br />
                    <hr />
                </div>
            </p>
        </div>
        <br />
        <hr />
    </div>

    <!-- Surrender a Dog Form -->
    <div class="modal-body row" style="display: flex;">
        <div class="col-md-6" style="background-image: url('../images/surrenderDog.jpg');
                                     background-size: cover;
                                     background-repeat: no-repeat">
        </div>
        <div class="col-md-6">
            <p>
                <div class="text-center">
                    <p class="h1">Surrender a Dog</p>
                </div>
                <br />
                It is never easy to tackle a topic such as this, but if you ever feel like you cannot provide for your companion, know that we are
                here not only to take care of him/her, but also to find him/her a new home.
                <br />
                <br />
                <div class="text-center">
                    <a href=@Url.Action("SurrenderDogForm", "Form")
                       class="btn btn-primary btn-lg"
                       style="">
                        Surrender a Dog &raquo;
                    </a>
                    <br /> <br />
                    <hr />
                </div>
            </p>
        </div>
    </div>
</div>

