@{
    ViewBag.Title = "HelpUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <!-- Volunteering Form -->
    <div class="modal-body row" style="display: flex;">
        <div class="col-md-6" style="background-image: url('../images/Dogs_Adopt_Background.jpeg');
                                     background-size: cover;
                                     background-repeat: no-repeat">
        </div>
        <div class="col-md-6">
            <p>
                <div class="text-center">
                    <p class="h1">Volunteering</p>
                </div>
                <br />
                Volunteering is one of the main necessities of our shelter. Cleaning our companion's
                boxes, brushing them, pamper them, organizing their rations,... These are all part
                of a volunteer's job so, be prepared!
                <br />
                <br />
                <div class="text-center">
                    <a href=@Url.Action("VolunteeringForm", "Form")
                       class="btn btn-primary btn-lg">
                        Become a Volunteer &raquo;
                    </a>
                    <br /> <br />
                    <hr />
                </div>
            </p>
        </div>
        <br />
        <hr />
    </div>

    <!-- Become a Partner Form -->
    <div class="modal-body row" style="display: flex;">
        <div class="col-md-6" style="background-image: url('../images/Dogs_Adopt_Background.jpeg');
                                     background-size: cover;
                                     background-repeat: no-repeat">
        </div>
        <div class="col-md-6">
            <p>
                <div class="text-center">
                    <p class="h1">Become a Partner</p>
                </div>
                <br />
                ...
                <br />
                <br />
                <div class="text-center">
                    <a href=@Url.Action("PartnerForm", "Form")
                       class="btn btn-primary btn-lg">
                        Become a Partner &raquo;
                    </a>
                    <br /> <br />
                    <hr />
                </div>
            </p>
        </div>
        <br />
        <hr />
    </div>

    <!-- Donating Form -->
    <div class="modal-body row" style="display: flex;">
        <div class="col-md-6" style="background-image: url('../images/Dogs_Adopt_Background.jpeg');
                                     background-size: cover;
                                     background-repeat: no-repeat">
        </div>
        <div class="col-md-6">
            <p>
                <div class="text-center">
                    <p class="h1">Donating</p>
                </div>
                <br />
                ...
                <br />
                <br />
                <div class="text-center">
                    <a href=@Url.Action("DonatingForm", "Form")
                       class="btn btn-primary btn-lg">
                        Donate &raquo;
                    </a>
                    <br /> <br />
                    <hr />
                </div>
            </p>
        </div>
        <br />
        <hr />
    </div>

    <!-- Surrender a Dog Form -->
    <div class="modal-body row" style="display: flex;">
        <div class="col-md-6" style="background-image: url('../images/Dogs_Adopt_Background.jpeg');
                                     background-size: cover;
                                     background-repeat: no-repeat">
        </div>
        <div class="col-md-6">
            <p>
                <div class="text-center">
                    <p class="h1">Surrender a Dog</p>
                </div>
                <br />
                ...
                <br />
                <br />
                <div class="text-center">
                    <a href=@Url.Action("SurrenderDogForm", "Form")
                       class="btn btn-primary btn-lg"
                       style="">
                        Surrender a Dog &raquo;
                    </a>
                    <br /> <br />
                    <hr />
                </div>
            </p>
        </div>
    </div>
</div>

