<div class="row">
    <div class="container px-4">
        <div class="row gx-5">
            <div class="col">
                <div class="img-responsive" style="color: black; 
            background-image: url('images/Dogs_Adopt_Background.jpeg'); ">
                    <p>
                        <a href=@Url.Action("SearchDogs", "Data")
                           class="btn btn-primary btn-lg">
                            Adopt Us &raquo;
                        </a>
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="img-responsive" style="color: black;
            background-image: url('images/People_HelpUs_Background');">
                    <p>
                        <a href=@Url.Action("HelpUs", "Home")
                           class="btn btn-primary btn-lg">
                            Help Us &raquo;
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>