@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="color: black; background-image: url('images/dog-adoption-san-antonio-image.png'); ">
    <h1 style="color:white">União Zoófila</h1>
    <p style="color:white" class="lead">Welcome to União Zoófila Website.</p>
    <p><a href="https://http://www.uniaozoofila.org/" class="btn btn-primary btn-lg">Let's Help? &raquo;</a></p>
    <!-- TODO: METER LINK PARA OUTRA SECÇÃO -->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Descrição do Problema</h2>
        <p>
            União Zoófila is a 50 year old shelter for abandoned animals in Lisbon. Although the main website is modernized and easy to navigate, the same cannot be said for the platform where you can browse the 4 legged residents of the shelter. <br />
            It is outdated, not intuitive and doesn’t show the dogs very well. Compared to other websites, including the front page of UZ’s main page, it looks like it is from the early 2000’s. Browsing for specific types of dogs is also difficult and although you can filter using different categories, it could be shown in a much more contemporary and easier way. The images are very small, the menu has a bad pagination system that stretches for 180 pages and the text is a bit too small. The menu and layout also don’t fit with the orange and white theme of the organisation, making it look out of place.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Target Users</h2>
        <p>All people interested in providing a better life for a dog who has been abandoned and sometimes even mistreated. The website would be for those who want a dog in their life and know that adopting a dog is always better than purchasing one. The facility is located in Lisbon, but there have been cases of international adoption. As long as a person can visit the facility during the vetting process and then transport the dog to their home, they can use the website and subsequently adopt a dog.</p>
    </div>
    <div class="col-md-4">
        <h2>Project Goal</h2>
        <p>Improve the look and functionality of the current adoption website. It should look a lot more like current websites, with a clean design, big pictures and only the essential details about the dogs. The browsing should be intuitive and simple. It should also allow for users to follow a dog and sponsor dogs more easily.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Competition</h2>
        <p>As previously mentioned, the competition is the website for dog browsing in União Zoófilas website. The current design, although functional, isn’t very easy to use, it isn’t aesthetically pleasing and the searching could be a lot better. It also doesn’t have a lot of functionality, which could drive away potential users. Portugal Zoófilo could also be considered competition, since it is also a dog adoption website and has many of the same issues as UZ’s has.</p>
        <p>
            <a>http://www.uniaozoofila.org/adotar/caes-para-adocao/</a>
        </p>
        <p>
            <a>http://www.portugalzoofilo.net/</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Group Members</h2>
        <p>
            Diogo Rebimba, Nº 46731 MIEI <br />
            João Franco, Nº 55602 MIEI <br />
            Diogo Carvalho, Nº 55721 MIEI <br />
            Miguel Brites, Nº 55899 MIEI <br />
        </p>
    </div>
</div>