@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url('images/dog-adoption-san-antonio-image.png'); ">
    <h1>União Zoófila</h1>
    <p class="lead">Bem Vindos ao Site da União Zoófila.</p>
    <p><a href="https://http://www.uniaozoofila.org/" class="btn btn-primary btn-lg">Vamos Ajudar? &raquo;</a></p>
    <!-- TODO: METER LINK PARA OUTRA SECÇÃO -->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Group Members</h2>
        <p>
            - Diogo Rebimba, Nº 46731 MIEI <br />
            - João Franco, Nº 55602 MIEI <br />
            - Miguel Brites, Nº 55899 MIEI <br />
            - Diogo Carvalho, Nº 55721 MIEI <br />
        </p>
    </div>
    <div class="col-md-4">
        <h2>Descrição do Problema</h2>
        <p>TESTE</p>
    </div>
    <div class="col-md-4">
        <h2>Target Users</h2>
        <p>TESTE</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Objectivo do Projeto</h2>
        <p>TESTE</p>
    </div>
    <div class="col-md-4">
        <h2>Competição</h2>
        <p>TESTE</p>
    </div>
</div>