<h2>@ViewBag.Title</h2>


    <img src="~/files/Stage1_prints/Stage1_Page1.PNG" alt="Stage1 - Page1" class="center-block"/>

    <br />

    <img src="~/files/Stage1_prints/Stage1_Page2.PNG" alt="Stage1 - Page2" class="center-block"/>